<div class="buttons-container">
    <button mat-icon-button (click)="goToPage('')">
        <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
</div>
<div class="main-container">
    <div class="main-item">
        <app-resume-preview></app-resume-preview>
    </div>
</div>

<mat-card class="top-right-corner card-container" *ngIf="showCard">
    <div class="card-header">
        <button mat-icon-button class="close-button" (click)="hideCard()">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <mat-card-content>
        <h2>რეზიუმე წარმატებით <br> გაიგზავნა 🎉</h2>
    </mat-card-content>
</mat-card>