<div class="main-container">
    <div class="general-info-container">
        <div class="header-container">
            <h1>{{data.name}} {{data.surname}}</h1>
            <div class="icon-info-container" *ngIf="data.email">
                <img src="../../../assets/icons/email-icon.svg">
                <h3>{{data.email}}</h3>
            </div>
            <div class="icon-info-container" *ngIf="data.phone_number">
                <img src="../../../assets/icons/phone-icon.svg">
                <h3>{{data.phone_number}}</h3>
            </div>
            <h2 class="sub-title" *ngIf="data.about_me">ᲩᲔᲛ ᲨᲔᲡᲐᲮᲔᲑ</h2>
            <div class="text-container">
                <p>{{data.about_me}}</p>
            </div>
        </div>

        <img class="profile-image" *ngIf="data.image != null" src="{{data.image}}">

    </div>

    <div *ngIf="data.experiences[0].position || data.experiences[0].employer || data.experiences[0].start_date || data.experiences[0].due_date|| data.experiences[0].description"
        class="subtitle-container">
        <div class="divider"></div>

        <h2 class="sub-title">ᲒᲐᲛᲝᲪᲓᲘᲚᲔᲑᲐ</h2>
    </div>
    <ng-container *ngFor="let xp of data.experiences;let i = index">


        <div class="text-container {{i}}">
            <h3 *ngIf="xp.position || xp.employer">{{xp.position}}, {{xp.employer}}</h3>
            <p class="ss" *ngIf="xp.start_date || xp.due_date">{{formatedDate(xp.start_date)}} - {{formatedDate(xp.due_date)}}</p>
            <p class="default-text">{{xp.description}}</p>
            <div class="divider" *ngIf="data.experiences.length > i+1"></div>
        </div>


    </ng-container>


    <div *ngIf="data.educations[0].institute || data.educations[0].degree || data.educations[0].due_date || data.educations[0].description" class="subtitle-container">
        <div class="divider"></div>

        <h2 class="sub-title">ᲒᲐᲜᲐᲗᲚᲔᲑᲐ</h2>
    </div>
    <ng-container *ngFor="let xp of data.educations;let i = index">

        <div class="text-container {{i}}">
            <div class="container">
                <h3 *ngIf="xp.institute">{{xp.institute}}</h3>
                <h3 *ngIf="xp.degree">, {{xp.degree.title}}</h3>
            </div>
            <p class="ss">{{formatedDate(xp.due_date)}}</p>
            <p class="default-text">{{xp.description}}</p>
            <div class="divider" *ngIf="data.educations.length > i+1"></div>
        </div>

    </ng-container>

</div>
<div class="footer-container">
    <img src="../../../assets/logo.svg">
</div>