<div class="main-container">
    <div class="general-info-container">
        <div class="header-container">
            <h1>{{data.name}} {{data.surname}}</h1>
            <h3>{{data.email}}</h3>
            <h3>{{data.phone_number}}</h3>
            <h2 class="sub-title" *ngIf="data.about_me.length > 0">ᲩᲔᲛ ᲨᲔᲡᲐᲮᲔᲑ</h2>
            <p>{{data.about_me}}</p>
        </div>

        <img *ngIf="data.image != null" src="{{data.image}}">

    </div>

    <div class="divider"></div>

    <h2 class="sub-title"> ᲒᲐᲛᲝᲪᲓᲘᲚᲔᲑᲐ</h2>

    <ng-container *ngFor="let xp of data.experiences;let i = index">
        <div>
            <h3>{{xp.position}}, {{xp.employer}}</h3>
            <h3>{{xp.start_date}} {{xp.due_date}}</h3>
            <p>{{xp.description}}</p>
        </div>
        <div class="divider"></div>

    </ng-container>

    <div class="divider"></div>

    <h2 class="sub-title"> ᲒᲐᲜᲐᲗᲚᲔᲑᲐ</h2>

    <ng-container *ngFor="let xp of data.educations;let i = index">
        <div>
            <h3>{{xp.institute}}, {{xp.degree_id}}</h3>
            <h3>{{xp.due_date}}</h3>
            <p>{{xp.description}}</p>
        </div>
        <div class="divider"></div>

    </ng-container>

    <div class="footer-container">
        <img src="../../../assets/logo.svg">
    </div>

</div>