.main-container {
    display: flex;
    min-height: 100%;
}

.form-container {
    width: 56%;
    padding: 48px;
    background-color: #F9F9F9;
}

.preview-container {
    width: 44%;
    display: flex;
    padding: 64px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.header-buttons-container {
    width: 14%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.title-container {
    width: 86%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #1A1A1A;
}

.title-container h2 {
    font-weight: 700;
    font-family: helvetica;
    margin-bottom: 6px;
    color: #1A1A1A;
}

form {
    margin-top: 16px;
    margin-left: 14%;
    width: 86%;
    font-family: helvetica;
}

form input {
    font-family: helvetica;
    font-weight: normal;
}

.form-group {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-item {
    margin-top: 24px;
    width: 100%;
}

.form-space {
    width: 16px;
    height: 16px;
}

mat-form-field {
    width: 100%;
    background-color: white;
}


.form-item label {
    display: inline-block;
    margin-bottom: 8px;
    font-weight: 600;
    color: #1A1A1A;
    font-family: helvetica;
    font-size: larger;
}


.form-item span {
    font-family: helvetica;
    font-size: medium;
    font-weight: bold;
}

#custom-upload-button {
    margin-left: 20px;
    font-family: helvetica;
    font-weight: 500;
    background-color: #0E80BF;
    font-size: small;
}

form textarea {
    width: 100%;
    font-family: helvetica;
}

mat-hint {
    display: inline-block;
    margin-top: 6px;
    font-size: small;
    font-weight: 300;
}


::ng-deep .mat-mdc-form-field-subscript-wrapper {
    display: none;
}

.general-info-container {
    width: 100%;
    display: flex;
}

.text-info-container {
    width: 100%;
}

.text-info-container h1 {
    font-family: helvetica;
    font-weight: bold;
    color: #F93B1D;
}

.preview-container img {
    width: 40%;
    height: fit-content;
}

.form-buttons-container {
    margin-top: 48px;
    margin-left: 14%;
    width: 86%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-button {
    background-color: #6B40E3 !important;
    min-height: 48px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

mat-form-field img {
    margin-right: 16px;
}

::ng-deep .mdc-notched-outline__leading,
::ng-deep .mdc-notched-outline__trailing {
    border-color: #BCBCBC !important;
}

::ng-deep .mdc-text-field--invalid .mdc-notched-outline__leading,
::ng-deep .mdc-text-field--invalid .mdc-notched-outline__trailing {
    border-color: #EF5050 !important;
}

::ng-deep .mat-mdc-form-field.ng-valid .mdc-text-field .mdc-notched-outline__trailing,
::ng-deep .mat-mdc-form-field.ng-valid .mdc-text-field .mdc-notched-outline__leading {
    border-color: #98E37E !important;
}