<div class="main-container">
    <div class="form-container">
        <div class="header-container">
            <div class="header-buttons-container">
                <button (click)="goToPage('')" mat-icon-button>
                    <mat-icon>keyboard_arrow_left</mat-icon>
                </button>
            </div>

            <div class="title-container">
                <h2 *ngIf="formPage == 1">ᲞᲘᲠᲐᲓᲘ ᲘᲜᲤᲝ</h2>
                <h2 *ngIf="formPage == 2">ᲒᲐᲛᲝᲪᲓᲘᲚᲔᲑᲐ</h2>
                <h2 *ngIf="formPage == 3">ᲒᲐᲜᲐᲗᲚᲔᲑᲐ</h2>
                <h2>{{ formPage }}/3</h2>
            </div>
        </div>

        <form [formGroup]="form" enctype="multipart/form-data">
            <div class="form-page" *ngIf="formPage == 1">

                <div class="form-page-item-container">

                    <div class="form-page-item">
                        <label for="name">სახელი</label>
                        <div class="input-container">

                            <mat-form-field appearance="outline">
                                <input matInput formControlName="name" name="name" id="name" type="text" placeholder="ანზორ" />
                                <img matSuffix *ngIf="form.controls['name'].valid" src="../../../assets/icons/correct-icon.svg" />
                            </mat-form-field>

                            <div class="input-container">
                                <div class="form-space"></div>
                                <img src="../../../assets/icons/error-icon.svg" *ngIf="form.controls['name'].invalid && form.controls['name'].touched" />
                                <div class="form-space"></div>
                            </div>

                        </div>
                        <mat-hint>მინიმუმ 2 ასო, ქართული ასოები</mat-hint>
                    </div>

                    <div class="form-page-item">
                        <label for="surname">გვარი</label>
                        <div class="input-container">

                            <mat-form-field appearance="outline">
                                <input matInput formControlName="surname" id="surname" name="surname" type="text" placeholder="მუმლაძე" />
                                <img matSuffix *ngIf="form.controls['surname'].valid" src="../../../assets/icons/correct-icon.svg" />
                            </mat-form-field>

                            <div class="input-container" *ngIf="form.controls['surname'].invalid && form.controls['surname'].touched">
                                <div class="form-space"></div>
                                <img src="../../../assets/icons/error-icon.svg" />
                                <div class="form-space"></div>
                            </div>

                        </div>
                        <mat-hint>მინიმუმ 2 ასო, ქართული ასოები</mat-hint>
                    </div>

                </div>

                <div class="form-space"></div>

                <div class="form-page-item-container">
                    <div class="form-page-item">

                        <input accept="image/*" id="image" name="image" #fileInput (change)="fileChange($event)" type="file" hidden="hidden" />
                        <span [ngStyle]="{color: form.controls['image'].invalid && form.controls['image'].touched ? '#EF5050' : '#1A1A1A'}">პირადი ფოტოს ატვირთვა*</span>
                        <button type="button" mat-flat-button id="custom-upload-button" (click)="clickUploadButton()" color="primary">ატვირთვა</button>

                    </div>
                </div>

                <div class="form-space"></div>

                <div class="form-page-item-container">
                    <div class="form-page-item">
                        <label for="about_me">ჩემ შესახებ (არა სავალდებულო)</label>

                        <mat-form-field appearance="outline">
                            <textarea matInput cdkTextareaAutosize type="text" #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="5" cdkAutosizeMaxRows="5" placeholder="ზოგადი ინფო შენ შესახებ"
                                formControlName="about_me" name="about_me"></textarea>
                        </mat-form-field>

                    </div>
                </div>

                <div class="form-page-item-container">
                    <div class="form-page-item">
                        <label for="email">ელ.ფოსტა</label>
                        <div class="input-container">

                            <mat-form-field appearance="outline">
                                <input matInput type="email" formControlName="email" name="email" placeholder="anzorr666@redberry.ge" />
                                <img matSuffix *ngIf="form.controls['email'].valid" src="../../../assets/icons/correct-icon.svg" />
                            </mat-form-field>

                            <div class="input-container" *ngIf="form.controls['email'].invalid && form.controls['email'].touched">
                                <div class="form-space"></div>
                                <img src="../../../assets/icons/error-icon.svg" />
                                <div class="form-space"></div>
                            </div>

                        </div>
                        <mat-hint>უნდა მთავრდებოდეს @redberry.ge-ით</mat-hint>
                    </div>
                </div>

                <div class="form-page-item-container">
                    <div class="form-page-item">
                        <label for="phone_number">მობილურის ნომერი</label>
                        <div class="input-container">

                            <mat-form-field appearance="outline">
                                <input matInput type="text" prefix="+995 " [dropSpecialCharacters]="false" mask="XXX XX XX XX" [validation]='true' formControlName="phone_number" name="phone_number" />
                                <img matSuffix *ngIf="form.controls['phone_number'].valid" src="../../../assets/icons/correct-icon.svg" />
                            </mat-form-field>

                            <div class="input-container" *ngIf="form.controls['phone_number'].invalid &&form.controls['phone_number'].touched">
                                <div class="form-space"></div>
                                <img src="../../../assets/icons/error-icon.svg" />
                                <div class="form-space"></div>
                            </div>

                        </div>
                        <mat-hint>უნდა აკმაყოფილებდეს ქართული მობილურის ნომრის ფორმატს</mat-hint>
                    </div>
                </div>

            </div>

            <div class="form-page" *ngIf="formPage == 2">
                <ng-container formArrayName="experiences" *ngFor="let o of experiences.controls;let i = index">
                    <div [formGroupName]="i">

                        <div class="form-page-item-container">
                            <div class="form-page-item">
                                <label for="position">თანამდებობა</label>
                                <div class="input-container">

                                    <mat-form-field appearance="outline">
                                        <input matInput type="text" formControlName="position" name="position" placeholder="დეველოპერი, დიზაინერი, ა.შ" />
                                        <img matSuffix *ngIf="getExperience(i).controls['position'].valid" src="../../../assets/icons/correct-icon.svg">
                                    </mat-form-field>

                                    <div class="input-container" *ngIf="getExperience(i).controls['position'].invalid  && getExperience(i).controls['position'].touched">
                                        <div class="form-space"></div>
                                        <img src="../../../assets/icons/error-icon.svg" />
                                        <div class="form-space"></div>
                                    </div>

                                </div>
                                <mat-hint>მინიმუმ 2 სიმბოლო</mat-hint>
                            </div>
                        </div>

                        <div class="form-page-item-container">
                            <div class="form-page-item">
                                <label for="employer">დამსაქმებელი</label>
                                <div class="input-container">

                                    <mat-form-field appearance="outline">
                                        <input matInput type="text" name="employer" formControlName="employer" placeholder="დამსაქმებელი">
                                        <img matSuffix *ngIf="getExperience(i).controls['employer'].valid" src="../../../assets/icons/correct-icon.svg">
                                    </mat-form-field>

                                    <div class="input-container" *ngIf="getExperience(i).controls['employer'].invalid  && getExperience(i).controls['employer'].touched">
                                        <div class="form-space"></div>
                                        <img src="../../../assets/icons/error-icon.svg" />
                                        <div class="form-space"></div>
                                    </div>
                                </div>
                                <mat-hint>მინიმუმ 2 სიმბოლო</mat-hint>
                            </div>
                        </div>

                        <div class="form-page-item-container">
                            <div class="form-page-item">
                                <label for="start_date">დაწყების რიცხვი</label>

                                <mat-form-field appearance="outline">
                                    <input matInput [matDatepicker]="picker1" name="start_date" formControlName="start_date" placeholder="mm / dd / yy">
                                    <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                </mat-form-field>

                            </div>

                            <div class="form-space"></div>
                            <div class="form-space"></div>
                            <div class="form-space"></div>
                            <div class="form-space"></div>

                            <div class="form-page-item">
                                <label for="due_date">დამთავრების რიცხვი</label>

                                <mat-form-field appearance="outline">
                                    <input matInput [matDatepicker]="picker2" name="due_date" formControlName="due_date" placeholder="mm / dd / yy">
                                    <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                                    <mat-datepicker #picker2></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="form-page-item-container">
                            <div class="form-page-item">
                                <label>აღწერა</label>

                                <mat-form-field appearance="outline">
                                    <textarea type="text" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="5" cdkAutosizeMaxRows="5" formControlName="description"
                                        placeholder="როლი თანამდებობაზე და ზოგადი აღწერა"></textarea>
                                </mat-form-field>

                            </div>
                        </div>

                        <div class="form-page-item">
                            <div class="form-space"></div>
                            <div class="form-space"></div>
                            <div class="form-divider"></div>
                        </div>

                    </div>

                </ng-container>
            </div>

            <div class="form-page" *ngIf="formPage == 3">

                <ng-container formArrayName="educations" *ngFor="let xp of educations.controls;let i = index">
                    <div [formGroupName]="i">
                        <div class="form-page-item-container">
                            <div class="form-page-item">
                                <label for="institute">სასწავლებელი</label>
                                <div class="input-container">

                                    <mat-form-field appearance="outline">
                                        <input matInput type="text" formControlName="institute" name="institute" placeholder="სასწავლებელი" />
                                        <img matSuffix *ngIf="getEducation(i).controls['institute'].valid" src="../../../assets/icons/correct-icon.svg" />
                                    </mat-form-field>

                                    <div class="input-container" *ngIf="getEducation(i).controls['institute'].invalid  && getEducation(i).controls['institute'].touched">
                                        <div class="form-space"></div>
                                        <img src="../../../assets/icons/error-icon.svg" />
                                        <div class="form-space"></div>
                                    </div>

                                </div>
                                <mat-hint>მინიმუმ 2 სიმბოლო</mat-hint>
                            </div>
                        </div>

                        <div class="form-page-item-container">
                            <div class="form-page-item">
                                <label for="degree">ხარისხი</label>

                                <mat-form-field appearance="outline">
                                    <mat-select placeholder="აირჩიეთ ხარისხი" formControlName="degree" [compareWith]="compareObjects">
                                        <mat-option *ngFor="let item of degreeList" [value]="item">{{item.title}}</mat-option>
                                    </mat-select>
                                </mat-form-field>

                            </div>

                            <div class="form-space"></div>
                            <div class="form-space"></div>
                            <div class="form-space"></div>
                            <div class="form-space"></div>

                            <div class="form-page-item">
                                <label for="due_date">დამთავრების რიცხვი</label>

                                <mat-form-field appearance="outline">
                                    <input matInput [matDatepicker]="picker2" name="due_date" formControlName="due_date" placeholder="mm / dd / yy">
                                    <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                                    <mat-datepicker #picker2></mat-datepicker>
                                </mat-form-field>
                            </div>

                        </div>
                        <div class="form-page-item-container">
                            <div class="form-page-item">
                                <label>აღწერა</label>

                                <mat-form-field appearance="outline">
                                    <textarea type="text" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="5" cdkAutosizeMaxRows="5" formControlName="description"
                                        placeholder="განათლების აღწერა"></textarea>
                                </mat-form-field>


                            </div>
                        </div>

                        <div class="form-page-item">
                            <div class="form-space"></div>
                            <div class="form-space"></div>
                            <div class="form-divider"></div>
                        </div>
                    </div>
                </ng-container>

            </div>
        </form>

        <div class="buttons">

            <div class="add-button-container">
                <button mat-flat-button color="primary" *ngIf="formPage == 2" class="add-form-button" (click)="addExperienceItem()">მეტი გამოცდილების დამატება</button>
                <button mat-flat-button color="warn" *ngIf="formPage == 2 && this.form.controls['experiences'].value.length > 1" class="delete-form-button" (click)="deleteExperienceItem()">ბოლო
                    გამოცდილების წაშლა</button>

                <button mat-flat-button color="primary" *ngIf="formPage == 3" class="add-form-button" (click)="addEducationItem()">სხვა სასწავლებლის დამატება</button>
                <button mat-flat-button color="warn" *ngIf="formPage == 3 && this.form.controls['educations'].value.length > 1" class="delete-form-button" (click)="deleteEducationItem()">ბოლო
                    სასწავლებლის წაშლა</button>
            </div>

            <div class="form-buttons-container">
                <div *ngIf="formPage == 1"></div>
                <button mat-flat-button (click)="previousFormPage()" *ngIf="formPage != 1" color="primary" class="form-button">
                    ᲣᲙᲐᲜ
                </button>

                <button mat-flat-button (click)="nextFormPage()" *ngIf="formPage != 3" color="primary" class="form-button" type="submit">
                    ᲨᲔᲛᲓᲔᲒᲘ
                </button>

                <button mat-flat-button (click)="sendForm()" *ngIf="formPage == 3" color="primary" class="form-button">
                    ᲓᲐᲡᲠᲣᲚᲔᲑᲐ
                </button>
            </div>

        </div>
    </div>

    <div class="preview-container">
        <app-resume-preview></app-resume-preview>
    </div>

</div>