<div class="main-container">

    <div class="form-container">

        <div class="header-container">
            <div class="header-buttons-container">
                <button (click)="goToPage('')" mat-icon-button>
                    <mat-icon>keyboard_arrow_left</mat-icon>
                </button>
            </div>
            <div class="title-container">
                <h2>ᲞᲘᲠᲐᲓᲘ ᲘᲜᲤᲝ</h2>
                <h2>1/3</h2>
            </div>

        </div>

        <form>
            <div class="form-group">

                <div class="form-item">
                    <label for="firstName">სახელი</label>
                    <mat-form-field appearance="outline">
                        <input [formControl]="firstName" matInput placeholder="ანზორ">
                    </mat-form-field>
                    <mat-hint>მინიმუმ 2 ასო, ქართული ასოები</mat-hint>
                </div>

                <div class="form-space"></div>

                <div class="form-item">
                    <label for="lastName">გვარი</label>
                    <mat-form-field appearance="outline">
                        <input [formControl]="lastName" matInput type="text" name="lastName" placeholder="მუმლაძე">
                    </mat-form-field>
                    <mat-hint>მინიმუმ 2 ასო, ქართული ასოები</mat-hint>
                </div>

            </div>
            <div class="form-item">
                <div class="form-space"></div>
                <input type="file" id="real-file-button" #upload_button hidden="hidden">
                <span>პირადი ფოტოს ატვირთვა</span>
                <button mat-flat-button id="custom-upload-button" (click)="clickUploadButton()"
                    color="primary">ატვირთვა</button>
                <div class="form-space"></div>
            </div>

            <div class="form-item">
                <label>ჩემ შესახებ (არა სავალდებულო)</label>
                <mat-form-field appearance="outline">
                    <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="5"
                        cdkAutosizeMaxRows="5" placeholder="ზოგადი ინფო შენ შესახებ"></textarea>
                </mat-form-field>
            </div>

            <div class="form-item">
                <label for="lastName">ელ.ფოსტა</label>
                <mat-form-field appearance="outline">
                    <input matInput type="email" name="lastName" placeholder="anzorr666@redberry.ge">
                </mat-form-field>
                <mat-hint>უნდა მთავრდებოდეს @redberry.ge-ით</mat-hint>
            </div>
            <div class="form-item">
                <label for="lastName">მობილურის ნომერი</label>
                <mat-form-field appearance="outline">
                    <input matInput type="tel" name="lastName" placeholder="+995 551 12 34 56">
                </mat-form-field>
                <mat-hint>უნდა აკმაყოფილებდეს ქართული მობილურის ნომრის ფორმატს</mat-hint>
            </div>


            <div class="form-item">
                <div class="form-space"></div>
                <button mat-flat-button color="primary">ᲨᲔᲛᲓᲔᲒᲘ</button>
            </div>
        </form>

    </div>

    <div class="preview-container">
        <h1>{{ firstName.value }} {{ lastName.value }} </h1>
    </div>

</div>